<div class='container'>
  <div class='row'>
    <%= render 'charts/stacked_area',
      data: @participants_per_edition,
      chart_id: "chart_stacked_area",
      value: { name: "name", number: "number", with_points: "with_points" }
    %>
    <div id="chart_stacked_area" style="height: 300px;"></div>
  </div>

  <div class='row'>
    <div class='col-xs-6'>
      <%= render 'charts/simple_column',
        data: @average_points_per_edition,
        chart_id: "chart_simple_column",
        value: { name: "name", number: "number", title: "Average points per edition" }
      %>
      <div id="chart_simple_column" style="width: 90%; height: 300px;"></div>
    </div>

    <div class='col-xs-6'>
      <%= render 'charts/simple_pie',
        data: @implication_level,
        chart_id: "chart_simple_pie",
        value: { name: "position", number: "value" }
      %>
      <div id="chart_simple_pie" style="width: 90%; height: 300px;"></div>
    </div>
  </div>

  <div class = 'row'>
      <%= render 'partials/places_table', data: @first_five_places%>
      <div id="chart_bar_chart" style="height: 900px;"></div>
  </div>
</div>
