<h1> Dashboard </h1>

<h1>XY Chart </h1>
<%= render 'charts/chart_01' %>
<div id="chartdiv" style="width: 100%; height: 600;"></div>

<hr>
<h1>XY Chart </h1>
<%= render 'charts/chart_03' %>
<div id="chartdiv_03" style="width: 100%; height: 500px;"></div>

<hr>

<h1> Pie Chart </h1>
<%= render 'charts/chart_02' %>
<div id="chartdiv_pie" style="width: 50%; height: 200px;"></div>


