<h1> CodeCraft Info statistics </h1>

<h1> Total number of participants per edition</h1>
<%= render 'charts/simple_column', data: @participants_per_edition, chart_id: "chart_simple_column", value: { name: "name", number: "number" } %>
<div id="chart_simple_column" style="width: 50%; height: 300;"></div>

<hr>

<h1> Total number of participants per edition(pie chart) </h1>
<%= render 'charts/simple_pie', data: @participants_per_edition, chart_id: "chart_simple_pie", value: { name: "name", number: "number" } %>
<div id="chart_simple_pie" style="width: 50%; height: 200px;"></div>


